/* 
@media (prefers-color-scheme:dark){
    body{
        background-color: #000000;
    }
    .logo h2{
        color: #ffffff;
    }

    .account i{
        color: var(--icon-background-color);
    }

    .header_container .nav_links ul li a::after{
        background-color: var(--icon-background-color);
    }

    .hero{
        background-color: #000000;
    }

    .hero h1{
        color: #d6d6d6;
    }

    .categories{
        background-color: #000000;
    }

    .grid_items{
        box-shadow: 0px 0px 18px 4px rgba(203, 203, 203, 0.195);
    }

    .collection_top h2{
        color: var(--icon-background-color);
    }

    .collection_item:hover{
        filter: brightness(90%);
        background-color: #f6f6f622;
        border-radius: 10px;
    }

    .item_description h2{
        color: #d6d6d6;
    } 

    .subscribe_top i{
        color: #ffffff;
    }

    .social i:hover{
        color: #ffffff;
    }

    .footer{
        background-color: #000000;
    }

} */


@media only screen and (max-width: 1520px){
    .header_container{
        padding: 0 40px;
        background-color: red;
    }
    .searchBar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .categories{
        height: 95vh;
    }

    .hero_btn{
        width: 15%;
    }

    .collection{
        background-color: green;
        height: 85vh;
    }

    .fl ul li a{
        letter-spacing: 0;
    }
}

@media only screen and (max-width: 1262px){
    .header_container{
        padding: 0px;
        background-color: yellow;
    }

    .collection{
        background-color: green;
        height: 90vh;
    }

    .footer_right{
        width: 35%;
    }

    .fl ul li a{
        letter-spacing: 0;
    }
    
}

@media only screen and (max-width: 1150px){
    .header_container{
        padding: 0px;
        background-color: blue;
    }

    .collection{
        background-color: green;
        height: 90vh;
    }

    .footer_links{
        width: 60%;
    }
}

@media only screen and (max-width: 1084px){
    .header_container{
        padding: 0px;
        background-color: purple;
    }

    .hero_top{
        gap: 20px;
    }

    .hero_top h1{
        font-size: 35px;
        text-align: left;
    }

    .hero_top p{
        font-size: 16px;
        text-align: left;
    }

    .hero_btn{
        width: 18%;
    }

    .footer_right{
        width: 39%;
    }

    .footer_links{
        width: 60%;
    }

    .line{
        width: 30%;
    }

    .collection_img{
        height: 20vh;
    }

    .item_description{
        gap: 10px;
    }

    .collection{
        background-color: green;
        height: 80vh;
    }

    .categories{
        height: 85vh;
    }

    .category_item{
        height: 60vh;
    }

    .carousel_btn{
        width: 18%;
    }

}

@media only screen and (max-width: 1000px){
    .header_container{
        padding: 0px;
        background-color: pink;
    }

    .hero_btn{
        width: 18%;
    }
}

@media only screen and (max-width: 900px){
    .header_container{
        padding: 0px;
        background-color: orange;
    }

    .hero_btn{
        width: 20%;
    }

    .categories{
        height: 230vh;
    }

    .categories_img{
        display: flex;
        flex-direction: column;
    }

    .collection{
        height: 120vh;
    }

    .collection_grid{
        display: flex;
        flex-direction: column;
    }

    .shop{
        height: 270vh;
    }

    .grid_container{
        display: flex;
        flex-direction: column;
    }

    .carousel_section{
        height: 110vh;
    }

    .carousel_content{
        width: 100%;
    }

    .carousel_btn{
        width: 20%;
    }

    .footer{
        padding: 50px;
        height: 95vh;
    }

    .footer_content{
        display: flex;
        flex-direction: column; 
        height: 70vh;
        padding: 0;
    }

    .footer_links{
        width: 100%;
        text-align: center;
    }

    .footer_right{
        width: 100%;
    }

    .subscribe_input button{
        width: 30%;
        right: 80px;
    }

}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .search-user {
        flex-grow: 1;
        justify-content: flex-end;
    }
}