/* 
@media (prefers-color-scheme:dark){
    body{
        background-color: #000000;
    }
    .logo h2{
        color: #ffffff;
    }

    .account i{
        color: var(--icon-background-color);
    }

    .header_container .nav_links ul li a::after{
        background-color: var(--icon-background-color);
    }

    .hero{
        background-color: #000000;
    }

    .hero h1{
        color: #d6d6d6;
    }

    .categories{
        background-color: #000000;
    }

    .grid_items{
        box-shadow: 0px 0px 18px 4px rgba(203, 203, 203, 0.195);
    }

    .collection_top h2{
        color: var(--icon-background-color);
    }

    .collection_item:hover{
        filter: brightness(90%);
        background-color: #f6f6f622;
        border-radius: 10px;
    }

    .item_description h2{
        color: #d6d6d6;
    } 

    .subscribe_top i{
        color: #ffffff;
    }

    .social i:hover{
        color: #ffffff;
    }

    .footer{
        background-color: #000000;
    }

} */


@media only screen and (max-width: 1520px){
    .header_container{
        padding: 0 40px;
        background-color: red;
    }
    .searchBar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero_btn{
        width: 15%;
    }

    .collection{
        background-color: green;
        height: 85vh;
    }

    .fl ul li a{
        letter-spacing: 0;
    }
}

@media only screen and (max-width: 1262px){
    .header_container{
        padding: 0px;
        background-color: yellow;
    }

    .collection{
        background-color: green;
        height: 90vh;
    }

    .footer_right{
        width: 35%;
    }

    .fl ul li a{
        letter-spacing: 0;
    }
    
}

@media only screen and (max-width: 1150px){
    .header_container{
        padding: 0px;
        background-color: blue;
    }

    .collection{
        background-color: green;
        height: 90vh;
    }

    .footer_links{
        width: 60%;
    }
}

@media only screen and (max-width: 900px){

    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 25px;
        height: 2px;
        background: var(--primary-color);
        margin: 6px;
       margin-right: 0;
    }

    /* .hidden{
        display: none
    } */

    /* .header_right{
        display: none;
    }    */

    .searchBar{
        display: none;
    }

    .account{
        display: none;
    }



    .header_right{
        background-color: blue;
        width: 1%;
    }


    .nav_links{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: rgba(223, 193, 193, 0.668);
        transition: .3s ease-in-out;
        height: 450px;
        display: flex;
    }

    .nav_links ul{
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .search-user {
        flex-grow: 1;
        justify-content: flex-end;
    }
}